.sidebar {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #242939;
  overflow: hidden;
  transition: 0.5s;
  &:hover{
    width: 250px;
  }
  &-icon {
    position: absolute;
    color: white;
    top: 0;
    left: 10px;
    padding-top: 10px;
    padding-left: 2px;
  }
  &-title {
    position: absolute;
    color: white;
    top: 0;
    right: 10px;
    padding-top: 10px;
    cursor: pointer;
  }
  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-left: 0px;
    li {
      position: relative;
      width: 100%;
      list-style: none;
      a {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
        position: relative;
        display: flex;
        width: 100%;
        svg {
          position: relative;
          min-width: 50px;
          height: 30px;
          line-height: 60px;
        }
        .title {
          position: relative;
          display: block;
          height: 60px;
          text-align: start;
          white-space: nowrap;
        }
      }
    }
  }
}

.sidebar-active {
  width: 250px !important;
}
